
/*base background color*/
/*@define-color background rgba(25, 25, 25, 0.65);*/
/*@define-color color0 rgba(0, 0, 0, 0.7);*/
/*base background color of selections */
/*@define-color color14 rgba(200, 200, 200, 0.3);*/
/*base background color of active elements */
/*@define-color color12 rgba(100, 100, 100, 0.5);*/
/*base border color*/
/*@define-color color4 rgba(255, 255, 255, 0.2);*/
/*text color for entries, views and content in general */
/*@define-color color7 white;*/
/*text color for entries that are unselected */
/*@define-color color15 rgba(255, 255, 255, 0.25);*/

@import "colors.css";

* {
	text-shadow: none;
	box-shadow: none;
  border: none;
  border-radius: 0;
	font-family:"Segoe UI", "Ubuntu";
  font-weight: 700;
  font-size: 11.5px;	
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom: 2px solid @border;
  color: @color7;
}

tooltip {
  background: @bg;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: @color4;
}
tooltip label{
  color: @color7;
}

#custom-os_button {
	font-family: "JetBrainsMono Nerd Font";
  font-size: 19px;
	padding-left: 12px;
	padding-right: 20px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#custom-os_button:hover {
  background:  @color14;
	color: @color7;
}

#workspaces {
  color: transparent;
	margin-right: 1.5px;
	margin-left: 1.5px;
}
#workspaces button {
  padding: 3px;
  color: @color15;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#workspaces button.active {
	color: @color7;
	border-top: 2px solid white;
}
#workspaces button.focused {
  color: @color12;
}
#workspaces button.urgent {
	background:  rgba(255, 200, 0, 0.35);
	border-top: 2px solid @warning_color;
	color: @warning_color;
}
#workspaces button:hover {
  background: @color14;
	color: @color7;
}

#taskbar {
margin-left: 2px;
}

#taskbar button {
	min-width: 24px;
	border-top: 2px solid rgba(255, 255, 255, 0.3);
	margin-left: 1px;
	margin-right: 1px;
  padding-left: 12px;
  padding-right: 8px;
  color: white;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#taskbar button.active {
	border-top: 2px solid white;
  background: @color12;
}

#taskbar button:hover {
	border-top: 2px solid white;
  background: @color14;
	color: @color7;
}

#cpu, #disk, #memory {
	padding:2px;
}

#temperature {
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#temperature.critical {
	padding-right: 2px;
	color: @warning_color;
	font-size: initial;
	border-top: 1px solid @warning_color;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#window {
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

#tray{
  margin-left: 5px;
  margin-right: 5px;
}
#tray > .passive {
	border-top: none;
}
#tray > .active {
	border-top: 2px solid white;
}
#tray > .needs-attention {
	border-top: 2px solid @warning_color;
}
#tray > widget {
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#tray > widget:hover {
	background: @color14;
}

#pulseaudio {
	font-family: "JetBrainsMono Nerd Font";
	padding-left: 3px;
  padding-right: 3px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#pulseaudio:hover {
 	background: @color14;
}

#network {
	padding-left: 3px;
  padding-right: 3px;
}

#language {
  padding-left: 5px;
  padding-right: 5px;
}

#clock {
  padding-right: 5px;
  padding-left: 5px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-size: 10px
}
#clock:hover {
	background: @color14;
}









