@import "colors.css"; 

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 12px;
    min-height: 10px;
    font-weight: bolder;
}

window#waybar {
    background: @bg;
    border: 2px solid @border;
}

#window {
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
}

button {
    border-radius: 0;
}

#workspaces button {
    padding: 0 4px;
    transition: none;
    color: #606060;
}

#workspaces button.active {
    color: @text;
    background-color: @border;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
  padding-left: 4px;
  padding-right: 4px;
}

#custom-separator {
    color: @border;
}

#clock {
    color: @text;
    padding-right: 8px;
}

#clock.date {
    color: @mauve;
}

#pulseaudio {
    color: @text;
}

#network {
    color: @text;
}

#idle_inhibitor {
    margin-right: 12px;
    color: #7cb342;
}

#idle_inhibitor.activated {
    color: @red;
}

#battery {
    color: @text;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}
