window {
    margin: 0;
    padding: 0;
    background-image: none;
    color: white;
    background-color: transparent;
    border-radius: 0;
}
button {
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    background-color: transparent;
    border-radius: 0;
}
#lock {
    background-color: black;
    background-size: 20%;
    background-image: image(url("/home/mauro/.config/wlogout/icons/lockhover.png"));
}
#lock:focus{
    background-color: white;
    background-size: 20%;
    background-image: image(url("/home/mauro/.config/wlogout/icons/lock.png"));
    color: black;
}
#shutdown{
    background-color: black;
    background-size: 20%;
    background-image: image(url("/home/mauro/.config/wlogout/icons/powerhover.png"));
}
#shutdown:focus{
    background-color: white;
    background-size: 20%;
    background-image: image(url("/home/mauro/.config/wlogout/icons/power.png"));
    color: black;
}
#reboot {
    background-color: black;
    background-size: 20%;
    background-image: image(url("/home/mauro/.config/wlogout/icons/reboothover.png"));
}
#reboot:focus{
    background-color: white;
    background-size: 20%;
    background-image: image(url("/home/mauro/.config/wlogout/icons/reboot.png"));
    color: black;
}
#hibernate{
    background-color: black;
    background-size: 20%;
    background-image: image(url("/home/mauro/.config/wlogout/icons/hibernate.png"));
}
#hibernate:focus{
    background-color: white;
    background-size: 20%;
    background-image: image(url("/home/mauro/.config/wlogout/icons/hibernatehover.png"));
    color: black;
}
#logout{
    background-color: black;
    background-size: 20%;
    background-image: image(url("/home/mauro/.config/wlogout/icons/logouthover.png"));
}
#logout:focus{
    background-color: white;
    background-size: 20%;
    background-image: image(url("/home/mauro/.config/wlogout/icons/logout.png"));
    color: black;
}
#suspend:focus{
    background-color: white;
    background-size: 20%;
    background-image: image(url("/home/mauro/.config/wlogout/icons/suspend.png"));
    color: black;
}
#suspend{
    background-color: black;
    background-size: 20%;
    background-image: image(url("/home/mauro/.config/wlogout/icons/suspendhover.png"));
}
